// width-size
$sizemax: 1170px;
$sizewid: 100%;

// fonts
$font-nino: 'BPG Nino Mtavruli';
$font-roboto: 'Roboto';
$font-ingiri: 'BPG Ingiri Arial';

// colors
$color-red: #EE4036;
$color-blue: #3D58A6;
$color-black: #000000;
$color-white: #FFFFFF;
$color-ow: #E6E6E6;
$color-ob: #333333;
$color-grey: #808080;